### 1) Understanding Variables
a. Define a variable in Python. Provide an example of how to create a variable that
stores your name.
b. What is the difference between a variable and a constant? Can we have constants in
Python?

a) Variable: It is something that stores value or in other words it is a reserved memory location it stores any given data values.
Also, there is no need for declaring a variable if we are working in python.

In [1]:
#Example:
a="Shruti"
a

'Shruti'

b)In any programming language variable stores any data in memory location and it can be altered accordingly, whereas constant as name itself cannot be changed if it stores any value.

In Python we cannot directly create constant but we can use constant by using a library called pconst.

In [4]:
pip install pconst

Requirement already satisfied: pconst in c:\users\vatsa\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pconst import const 
 
const.NAME1 = "Shruti"   
const.FULL_NAME1 = 'Shruti Dubey'

print(const.NAME1) 
print(const.FULL_NAME1)

Shruti
Shruti Dubey

### 2) Working with Different Data Types

a. Create variables of the following types in Python
  1. Integer
 2. Float
 3. String
 4. Boolen
    .

b)Write a Python script to display the type of each variable you created.

In [6]:

Intgr=9

Flt=9.6
Stg="Shruti"
Bo=True

#int, float, string and boolean are variable

In [7]:
#Integer
type(Intgr)

int

In [12]:
#float
type(Flt)

float

In [14]:
#string
type(Stg)

str

In [16]:
#Boolean
type(Bo)

bool

### 3 Arithmetic Operators

a. Explain the following arithmetic operators with examples:
1. Addition (`+`)
2. Subtraction (`-`)
3. Multiplication (``)
4. Division (`/`)
5. Floor Division (`//`)
6. Modulus (`%`)
7. Exponentiation (``)

b)  Write a Python script to calculate the area of a rectangle using variables `length`
and `width` with values 5 and 10, respectively. Use the multiplication operator.

In [18]:
# Addition
# '+' operator is used for addition
a=5+3
a

8

In [20]:
#Subtraction
#'-' operator is used for subtraction
b=5-4
b

1

In [22]:
#Multiplication
#'*' operator is used for multiplication
c=4*3
c

12

In [24]:
#Division
#'/' operator is used for division
d=4/2
d

2.0

In [26]:
#Floor Division'//' It divides two numbers and rounds the result down to the nearest whole number.
e=6//3
e

2

In [28]:
#Modulus (`%`) is the remainder

f=9%3
f

0

In [30]:
g=10%3
g

1

In [32]:
#Exponentiation is ** 
h=2**3
h

8

In [34]:
# b) Area of the rectangle using length=5 breadth=10 

length=5
breadth=10
area=length*breadth
print("Area of the rectangle :",area)

Area of the rectangle : 50

### 4 Comparison and Logical Operators
a. Explain the following comparison operators with examples:
1. Equal to (`==`)
2. Not equal to (`!=`)
3. Greater than (`>`)
4. Less than (`<`)
5. Greater than or equal to (`>=`)
6. Less than or equal to (`<=`)

b. Using logical operators (`and`, `or`, `not`), write a Python script that checks if a
number is positive and even. (`<=`)

In [36]:
# == is comparison operator is used to compare

phone_price=800
budget=800

if budget == phone_price:
    print("you can buy the phone")
else:
    print("You cannot buy the phone")

you can buy the phone

In [38]:
# != is not equal 

a1=5
b1=9
a1!=b1

# It returns True value as a1 is not equal b1.

True

In [40]:
# >
a2=10
b2=20
a2>b2

False

In [42]:
b2>a2
#b2 is greateter than a2

True

In [44]:
# <
a2<b2

True

In [46]:
#>=

a3=14
b3=19
b3>=a3

True

In [48]:
# <=
a3<=b3

True

In [11]:
#b # Using logical operators (`and`, `or`, `not`), write a Python script that checks if a
#number is positive and even.

num=45

if num>0 and num%2==0:
    print("The Number is positive and even")
else:
    print("The Number is not positive and even")

The Number is not positive and even

In [13]:
#Example of OR

if num>0 or num%2==0:
    print("The Number is positive or even")
else:
    print("The Number is nor positive or even")

The Number is positive or even

In [17]:
#Example of Not

if not (num <= 0 or num % 2 != 0):
    print("The number positive and even")
else:
    print("The number not positive and even")

The number not positive and even

### 5)Type Casting in Python
a. What is type casting? Explain the difference between implicit and explicit type
casting with examples.
b. Write a Python script that:
1. Converts a float to an integer.
2. Converts an integer to a string.
3. Converts a string to a 
   float.

#### Type Casting:
Converting a variable from one data type to another


Implicit type casting is when python itself automatically converts any input and results to its data type 

Explicit type casting is when we as a programmer converts one data type to another

In [54]:
#Implicit
Impli=6
type(Impli)

#here we automatically get the type of our variable as integer

int

In [56]:
# Explicit
year=1994
Expli= 'Shruti'+str(year)
Expli

#here we are converrting year which is a integer to str

'Shruti1994'

In [58]:
#b Converts a float to an integer.
L1=5.4
L2=4
print("Result",int(L1)+L2)

Result 9

In [60]:
#Converts an integer to a string
L3=3
print("Result",str(L3))

Result 3

In [5]:
#Converts a string to a float.
L4="3"
L5=5.6
print("Result",float(L4)+L5)
type(L4)
# we cannot convert string to float

Result 8.6

str

In [7]:
L6="abc"
L7=4.5
print("Result",float(L6)+L7)

# can only convert strings that represent valid numbers like 3.14, 6 into floating-point numbers.
# When you try to convert a string like "abc" that doesn't represent a number, Python doesn't know how to handle it, leading to a ValueError.

ValueError: could not convert string to float: 'abc'

### 6) Write a Python script that asks the user to input two numbers and then:
1. Adds the two numbers and prints the result.
2. Subtracts the second number from the first and prints the result.
3. Multiplies the two numbers and prints the result.
4. Divides the first number by the second and prints the result (handle division by zero).
5. Converts the sum of the numbers to a string and prints the type of the result

In [10]:
num1=int(input("Enter 1st number"))
num2=int(input("Enter 2nd number"))
print("Addtion :",num1+num2)  
print("Subtraction :",num2-num1)
print("Multiplication :",num1*num2)
if (num2==0):
    print("Result is undedefined for Division")
else:
    print("Division :",num1/num2)
print("Conversion to string",type(str(num1+num2)))

Enter 1st number 2
Enter 2nd number 0

Addtion : 2
Subtraction : -2
Multiplication : 0
Result is undedefined for Division
Conversion to string <class 'str'>